<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Include Bootstrap and jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Link to external JavaScript file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body> 
    <header class="top_boundary">
        <h1><strong>Welcome to my Planner</strong></h1>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Display Time Remaining -->
                <div class="container">
                    <div class="time-info">
                        <h5 id="time-remaining">Time Remaining till EOD: <span>{{ time_remaining }}</span></h5>
                        <h5 id="today-date">Date: <span>{{ today_dat_string }}</span></h5>
                        <h5 id="current_day_of_week">Day: <span>{{current_day_of_week}}</span></h5>
                    </div> 
                    <div class="container quote" id="gQuote"><strong>Today's Glittery Quote: </strong>{{gQuote}}</div> 
                    <div class="container quote" id="mQuote"><strong>Toda's Motivational Quote: </strong>{{mQuote}}</div>  
                    <div class="container quote" id="dQuote"><strong>Today's Deep Work Tip:</strong> {{dQuote}}</div> 
                    <div class="col-md-8">
                    <div class="row justify-content-center"> <!-- Center align the row content --> 
                        <img src="static\comfort_zone_pic.png" class="img-class"> 
                    </div>
                        <!--Your deadlines list code here -->
                    </div>
                </div>
                <hr><!-- Dividing line -->

                <!-- Important links -->
                <ul>
                    <li><a href="https://keep.google.com/u/0/" class="elegant-link">My Notes</a></li>
                    <li><a href="https://brainscale.net/app/dual-n-back/training" class="elegant-link">Dual N back</a></li>
                </ul>  
                <hr>
                <h5 id="other pages">Other pages</h5>
                <ul>
                    <a href="{{url_for('display_network')}}" class="btn btn-outline-primary">People's Page</a>
                </ul>
                <br>
                <!-- Display Events@Today -->
                <div class="events-header container"><h2>Events@Today</h2></div>
                <hr>
                <ul class="list-unstyled">
                    {% for todo in events %}
                    <li class="task-item">
                        <!-- Form to update event status -->
                        <div class="form-check">
                            <form action="{{ url_for('update_todo') }}" method="post">
                                <input type="hidden" name="todo_id" value="{{ todo.id }}">
                                <input type="checkbox" name="done" value="1" {% if todo.done %}checked{% endif %}>
                                <label>{{ todo.event }}</label>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </form>
                        </div>
                        <div class="Summary">Summary:{{ todo.summary }}</div>
                        <div class="task-info">
                            <div class="start-time">
                                Start Time: <span>{{ todo.start_time }}</span>
                            </div>
                            <div class="end-time">
                                End Time: <span>{{ todo.end_time }}</span>
                            </div>
                        </div>
                        <div class="task-actions">
                            <a href="{{ url_for('edit', id=todo.id) }}" class="btn btn-info btn-sm" role="button">Edit</a>
                            <a href="{{ url_for('delete', id=todo.id) }}" class="btn btn-danger btn-sm" role="button">Delete</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul> 
                <mark>
                <h6>You have <span style="color:blueviolet">"{{events_due}}  events due </span></h6>  
                </mark>
                
            </div>
        </div>
    </div>

    <br>
    <hr>

    <!-- Display Tasks for Today -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="tasks-header container"><h2>Tasks@Today</h2></div>
                <ul class="list-unstyled">
                    {% for task in tasks %}
                    <li class="task-item">
                        <!-- Form to update task status -->
                        <div class="form-check">
                            <form action="{{ url_for('update_task') }}" method="post">
                                <input type="hidden" name="task_id" value="{{ task.id }}">
                                <input type="checkbox" name="done" value="1" {% if task.done %}checked{% endif %}>
                                <label>{{ task.task }}</label>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </form>
                        </div>
                        <div class="Summary">Summary:{{ task.summary }}</div>
                        <div class="task-info">
                            <div class="start-hour">
                                Min Hours: <span>{{ task.start_hour }}</span>
                            </div>
                            <div class="end-hour">
                                Max Hours: <span>{{ task.end_hour }}</span>
                            </div>
                        </div>
                        <div class="task-actions">
                            <a href="{{ url_for('edit_task', id=task.id) }}" class="btn btn-info btn-sm" role="button">Edit</a> <!--Get request as method not specified-->
                            <a href="{{ url_for('delete_task', id=task.id) }}" class="btn btn-danger btn-sm" role="button">Delete</a> <!--GET request as method not specified-->
                        </div>
                    </li>
                    {% endfor %}
                </ul>  
                <mark> 
                <h6>You have <span style="color:yellowgreen">{{tasks_due}} tasks due </span></h6> 
                <h6>Task Index: <span style="color: yellowgreen">{{task_index}} </span></h4> 
                </mark>
            </div>
        </div>
    </div> 
<br>
<hr>
<br>

<!-- Display Deadlines for Today -->
<div class="container">
    <div class="row justify-content">
        <div class="col-md-8">
            <div class="deadlines-header container"><h2>Deadlines@future</h2></div>
            <ul class="list-unstyled">
                {% for deadline in deadlines %}
                <li class="task-item {% if deadline.overdue %}overdue{% endif %}">
                    <!-- Form to update deadline status -->
                    <div class="form-check">
                        <form action="{{ url_for('update_deadline') }}" method="post">
                            <input type="hidden" name="todo_id" value="{{ deadline.id }}">
                            <input type="checkbox" name="done" value="1" {% if deadline.done %}checked{% endif %}>
                            <label>{{ deadline.deadline }}</label>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </form>
                    </div>
                    <div class="Summary">Summary:{{ deadline.description }}</div>
                    <div class="task">
                        <div class="deadline-date">
                            Deadline Date: <span>{{ deadline.deadline }}</span>
                        </div>
                        {% if deadline.deadline is not none %}
                            {% if deadline.deadline < today_date_datetime %}
                                <!-- Deadline is overdue -->
                                <div class="overdue">
                                    Due in: {{ (today_date_datetime - deadline.deadline).days }} days ago
                                </div>
                            {% else %}
                                <!-- Deadline is not overdue -->
                                <div class="not-overdue">
                                    Due in: {{ (deadline.deadline - today_date_datetime).days }} days
                                </div>
                            {% endif %}
                        {% else %}
                            <!-- Handle case where deadline is None -->
                            <div class="no-deadline">
                                No deadline set
                            </div>
                        {% endif %}
                        

                        
                        
                        <div class="deadline-actions">
                            <a href="{{ url_for('edit_deadline', id=deadline.id) }}" class="btn btn-info btn-sm" role="button">Edit</a>
                            <a href="{{ url_for('delete_deadline', id=deadline.id) }}" class="btn btn-danger btn-sm" role="button">Delete</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div> 
    </div> 
</div>
        
<br><hr><br>

    <!-- Display Birthdays using SQLalchemy -->
    <div class="container">
        {% if rows_to_print %}
            {% for row in rows_to_print %}
            <div class="row">
                <div class="col">
                    <div class="birthday-item" style="text-align: center;">
                        <hr>
                        <ul class="list-inline-item">
                            <p class="birthday-info">
                                It is <mark>{{ row.Person }}'s ({{ row.FirstName}} {{ row.LastName }}) </mark> Birthday Today!
                            </p> 
                            <p class="extra-info"><strong>Contact:</strong> {{ row.Contact }}, <strong>Social Media:</strong> <a href="{{ row.Insta_Facebook }}" >{{ row[11] }}</a></p>
                            
                            <p class="extra-info">
                                <strong>Info:</strong>
                                [Group: {{ row.Group }}, Location: {{ row.Location }}, Company: {{ row.Company }}, Position: {{ row.Position }}]
                            </p> 
                            <p class="extra-info"><strong>Last Contact:</strong>{{ row.LastContact}} </p> 
                            <p class="extra-info"> <strong>Comments:</strong>{{row.Last_Update}}</p>
                        </ul>
                    </div>
                </div> 
        
            </div>
            {% endfor %} 
        {% else %}
            <p class="birthday-info"> <mark>No Birthdays to Celebrate Today!</mark></p> 
        {% endif %}
    </div>

    <br>
    <hr>

    <!-- Header for adding events -->
    <h4 class="events-header">Add Events for today</h4> 

    <!-- Add your form or input fields to add events here -->

<!--Adding events"(Html form)-->
<form action="{{ url_for('add') }}" method="post">
    <div class="mb-3">
        <label for="todo" class="form-label">Event</label>
        <input type="text" class="form-control" id="todo" name="todo" placeholder="Enter Events">
    </div>
    <div class="mb-3">
        <label for="summary" class="form-label">Summary</label>
        <input type="text" class="form-control" id="summary" name="Summary" placeholder="Enter summary">
    </div>
    <div class="mb-3">
        <label for="start_time" class="form-label">Start Time</label>
        <input type="datetime-local" class="form-control" id="start_time" name="start_time">
    </div>
    <div class="mb-3">
        <label for="end_time" class="form-label">End Time</label>
        <input type="datetime-local" class="form-control" id="end_time" name="end_time">
    </div>
    <button type="submit" class="btn btn-primary">Add Event</button>
</form> 

<br>
<hr>

<h4 class="tasks-header">Add Tasks for Today</h4> 


<br> 



<!--Adding Tasks (html form)-->
<form action="{{ url_for('add_task_route') }}" method="post">
    <div class="mb-3">
        <label for="task" class="form-label">Task</label>
        <input type="text" class="form-control" id="task" name="task" placeholder="Enter Task">
    </div>
    <div class="mb-3">
        <label for="task_summary" class="form-label">Summary</label>
        <input type="text" class="form-control" id="task_summary" name="task_summary" placeholder="Enter Summary">
    </div>
    <div class="mb-3">
        <label for="start_hour" class="form-label">Start Hour</label>
        <input type="number" class="form-control" id="start_hour" name="min_hour" placeholder="Start Hour">
    </div>
    <div class="mb-3">
        <label for="end_hour" class="form-label">End Hour</label>
        <input type="number" class="form-control" id="end_hour" name="max_hour" placeholder="End Hour">
    </div>
    <button type="submit" class="btn btn-warning">Add Task</button> <!--Once the button tag is clicked the request is sent to the Url using TCP protocal..the url contains the function-->
</form>

<br>
<hr>
<br> 


<!-- Add your form or input fields to add deadlines here -->

<!-- Adding Deadlines -->
<form action="{{ url_for('add_deadline') }}" method="post">
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="Enter Deadline Description">
    </div>
    <div class="mb-3">
        <label for="deadline" class="form-label">Deadline</label>
        <input type="datetime-local" class="form-control" id="deadline" name="deadline" placeholder ='Add Date'>
    </div>
    <button type="submit" class="btn btn-danger">Add Deadline</button>
</form> 

<br>
<hr>
<br>

<!--Counting the number of Tasks done -->
<div class="container"> 
    <p>You have completed only {{ event_ct }} events</p>
    <p>You have completed only {{ task_ct }} tasks</p>
</div>
<hr>
<br> 
<!--Adding quotes,deep work tips--> 
<div class="container">
    <form action="/addQuote" class="form-group" method="POST"> 
        <label for="gQuote" class="form-label">Add Glittery Quote</label>
        <input type="text" class="form-control" id="gQuote" name="gQuote" placeholder="gQuote"> 
        <label for="mQuote" class="form-label">Add Motivational Quote</label> 
        <input type="text" class="form-control" id="mQuote" name="mQuote" placeholder="mQuote">
        <label for="dQuote" class="form-label">Add Deep Work Tip</label>
        <input type="text" class="form control" id="dQuote" name="dQuote" placeholder="dQuote"> 
        
        <button type="submit" class="btn btn-success">Add Quotes</button>


    </form>
</div>
<!--Google Photos-->
<div class="container">
    <a href="https://photos.google.com/" class="elegant-link"><h4>Memories</h4></a> 
    <strong><p class="quote">The Past: Remember,Learn but don't Live .</p> </strong>
   
    <br>  
    <br>
<footer class="bottom_boundary" ></footer>
</body>
</html>
